{% extends "template_base.html" %}

{% block title %}
    VARES
{% endblock %}

{% block content %}
  <div class="grid-container">
    <div class="grid-x grid-margin-x">
      <!-- Atrevidos Section -->
      <div class="cell small-12 mt-3 image-container" data-url="/cards#atrevidos" style="background-color: rgb(0, 23, 22);">
        <div class="image-wrapper rounded-3">
          <img src="{{ url_for('static', filename='img/nuevos/wa_30927_bannerPic_9076.jpg') }}" alt="nuevos" class="thumbnail">
        </div>
        <div class="title-overlay">
          <h3 class="h1">Atrevidos</h3>
        </div>
      </div>

      <!-- Autor Section -->
      <div class="cell small-6 py-2 pr-1 image-container" data-url="/cards#autor" style="background-color: rgb(0, 23, 22)">
        <div class="image-wrapper rounded-3">
          <img src="{{ url_for('static', filename='img/autor/braavos_mule.jpg') }}" alt="autor" class="thumbnail">
        </div>
        <div class="title-overlay">
          <h3 class="h1">Autor</h3>
        </div>
      </div>

      <!-- Gin Tonic Section -->
      <div class="cell small-6 py-2 pl-1 image-container" data-url="/cards#gin-tonic" style="background-color: rgb(0, 23, 22)">
        <div class="image-wrapper rounded-3">
          <img src="{{ url_for('static', filename='img/gin_tonic/gin_patagonico.jpg') }}" alt="gin_tonic" class="thumbnail">
        </div>
        <div class="title-overlay">
          <h3 class="h1">Gin Tonic</h3>
        </div>
      </div>

      <!-- Burgers Section -->
      <div class="cell small-12 pb-2 image-container" data-url="/cards#burgers" style="background-color: rgb(0, 23, 22)">
        <div class="image-wrapper rounded-3">
          <img src="{{ url_for('static', filename='img/burgers/banner_burguer.jpg') }}" alt="burgers" class="thumbnail">
        </div>
        <div class="title-overlay">
          <h3 class="h1">Burgers</h3>
        </div>
      </div>

      <!-- Play the Game Section -->
      <div class="cell small-12 py-5 image-container" data-url="#" style="background-color: rgb(0, 23, 22)">
        <img src="{{ url_for('static', filename='img/game/drinks-on-us-5.avif') }}" alt="game" class="thumbnail">
        <div class="title-static">
          <h3 class="h1">Play the Game! </h3>
        </div>
      </div>

      <!-- Caipis Section -->
      <div class="cell small-6 pb-2 pr-1 image-container mb-3" data-url="/cards#caipis" style="background-color: rgb(0, 23, 22)">
        <div class="image-wrapper rounded-3">
          <img src="{{ url_for('static', filename='img/caipis/caipirinha.jpg') }}" alt="caipis" class="thumbnail">
        </div>
        <div class="title-overlay">
          <h3 class="h1">Caipis</h3>
        </div>
      </div>

      <!-- Clásicos Section -->
      <div class="cell small-6 pb-2 pl-1 image-container mb-3" data-url="/cards#clasicos" style="background-color: rgb(0, 23, 22)">
        <div class="image-wrapper rounded-3">
          <img src="{{ url_for('static', filename='img/clasicos/fernet.jpg') }}" alt="clasicos" class="thumbnail">
        </div>
        <div class="title-overlay">
          <h3 class="h1">Clásicos</h3>
        </div>
      </div>

      <!-- Papas Section -->
      <div class="cell small-12 pb-2 image-container" data-url="/cards#papas" style="background-color: rgb(0, 23, 22)">
        <div class="image-wrapper rounded-3">
          <img src="{{ url_for('static', filename='img/papas/papas_banner.jpg') }}" alt="papas" class="thumbnail">
        </div>
        <div class="title-overlay">
          <h3 class="h1">Papas</h3>
        </div>
      </div>

      <!-- Spritz Section -->
      <div class="cell small-6 pb-2 pr-1 image-container mb-3" data-url="/cards#spritz" style="background-color: rgb(0, 23, 22)">
        <div class="image-wrapper rounded-3">
          <img src="{{ url_for('static', filename='img/spritz/spritz_n5.jpg') }}" alt="spritz" class="thumbnail">
        </div>
        <div class="title-overlay">
          <h3 class="h1">Spritz</h3>
        </div>
      </div>

      <!-- Birras Section -->
      <div class="cell small-6 pb-5 pl-1 image-container mb-3" data-url="/cards#birras" style="background-color: rgb(0, 23, 22);">
        <div class="image-wrapper rounded-3">
          <img src="{{ url_for('static', filename='img/birras/corona.jpg') }}" alt="birra" class="thumbnail">
        </div>
        <div class="title-overlay">
          <h3 class="h1">Birras</h3>
        </div>
      </div>

    </div>    
  </div>
{% endblock %}
