{% extends "template_base.html" %}

{% block title %}
    VARES
{% endblock %}


{% block content %}
  <div class="container">
    <div class="row">
      <div class="col-12 image-container mt-3" data-url="/cards"  style="background-color: rgb(0, 23, 22);">
        <div class="image-wrapper rounded-3">
          <img src="{{ url_for('static', filename='img/nuevos/wa_30927_bannerPic_9076.jpg') }}" alt="nuevos" class="img-fluid">
        </div>
        <div class="title-overlay">
          <h3 class="h1">Atrevidos</h3>
        </div>
      </div>

      <div class="col-6 py-2 pr-1 image-container" style="background-color: rgb(0, 23, 22)">
        <div class="image-wrapper rounded-3">
          <img src="{{ url_for('static', filename='img/autor/braavos_mule.jpg') }}" alt="autor" class="img-fluid">
        </div>
        <div class="title-overlay">
          <h3 class="h1">Autor</h3>
        </div>
      </div>

      <div class="col-6 py-2 pl-1 image-container" style="background-color: rgb(0, 23, 22)">
        <div class="image-wrapper rounded-3">
          <img src="{{ url_for('static', filename='img/gin_tonic/gin_patagonico.jpg') }}" alt="gin_tonic" class="img-fluid">
        </div>
        <div class="title-overlay">
          <h3 class="h1">Gin Tonic</h3>
        </div>
      </div>

      <div class="col-12 pb-2 image-container" style="background-color: rgb(0, 23, 22)">
        <div class="image-wrapper rounded-3">
          <img src="{{ url_for('static', filename='img/burgers/banner_burguer.jpg') }}" alt="burgers" class="img-fluid">
        </div>
        <div class="title-overlay">
          <h3 class="h1">Burgers</h3>
        </div>
      </div>

      <div class="col-12 py-5 image-container" style="background-color: rgb(0, 23, 22)">
        <img src="{{ url_for('static', filename='img/game/drinks-on-us-5.avif') }}" alt="burgers" class="img-fluid">
        <div class="title-static">
          <h3 class="h1">Play the Game! </h3>
        </div>
      </div>

      <div class="col-6 pb-2 pr-1 image-container" style="background-color: rgb(0, 23, 22)">
        <div class="image-wrapper rounded-3">
          <img src="{{ url_for('static', filename='img/caipis/caipirinha.jpg') }}" alt="caipis" class="img-fluid">
        </div>
        <div class="title-overlay">
          <h3 class="h1">Caipis</h3>
        </div>
      </div>

      <div class="col-6 pb-2 pl-1 image-container" style="background-color: rgb(0, 23, 22)">
        <div class="image-wrapper rounded-3">
          <img src="{{ url_for('static', filename='img/clasicos/fernet.jpg') }}" alt="clasicos" class="img-fluid">
        </div>
        <div class="title-overlay">
          <h3 class="h1">Clásicos</h3>
        </div>
      </div>

      <div class="col-12 pb-2 image-container" style="background-color: rgb(0, 23, 22)">
        <div class="image-wrapper rounded-3">
          <img src="{{ url_for('static', filename='img/papas/papas_banner.jpg') }}" alt="papas" class="img-fluid">
        </div>
        <div class="title-overlay">
          <h3 class="h1">Papas</h3>
        </div>
      </div>

      <div class="col-6 pb-2 pr-1 image-container mb-3" style="background-color: rgb(0, 23, 22)">
        <div class="image-wrapper rounded-3">
          <img src="{{ url_for('static', filename='img/spritz/spritz_n5.jpg') }}" alt="spritz" class="img-fluid">
        </div>
        <div class="title-overlay">
          <h3 class="h1">Spritz</h3>
        </div>
      </div>

      <div class="col-6 pb-5 pl-1 image-container mb-3" style="background-color: rgb(0, 23, 22);">
        <div class="image-wrapper rounded-3">
          <img src="{{ url_for('static', filename='img/birras/corona.jpg') }}" alt="birra" class="img-fluid">
        </div>
        <div class="title-overlay">
          <h3 class="h1">Birras</h3>
        </div>
      </div>

    </div>    
  </div>
{% endblock %}
