{% extends "template_base.html" %}

{% block title %}
    DETALLE COMPRA
{% endblock %}

{% block content %}
<div class="container pt-4"> <!-- Contenedor con padding superior -->

    <H1 class="title_compra text-center py-4">GRACIAS POR TU COMPRA</H1>
    <div class="table-responsive">
        <table class="table table-dark">
            <thead>
                <tr>
                    <th scope="col">Título</th>
                    <th scope="col" class="text-center">Cantidad</th>
                    <th scope="col" class="text-end">Precio</th>
                </tr>
            </thead>
        </table>
    </div>
    <div class="table-responsive"> <!-- Sin padding adicional -->
        <table class="table table-dark align-items-center justify-content-center" id="saved-cart-table">
            <tbody>
                <!-- Aquí se cargarán dinámicamente los productos del carrito desde localStorage -->
            </tbody>
        </table>
    </div>

    
</div>

<script src="{{ url_for('static', filename='javascript/script.js') }}"></script>
{% endblock %}

