{% extends "template_base.html" %}

{% block title %}
    CARRITO DE COMPRAS
{% endblock %}

{% block content %}
<body>
    <div class="table-responsive container pt-4"> <!-- Sin padding adicional -->
        <table class="col-10 table table-primary align-items-center justify-content-center" id="cart-table">
            <tbody>
                <!-- Aquí se cargarán dinámicamente los productos del carrito desde localStorage -->
            </tbody>
        </table>

        <div class="table-responsive">
            <table class="table table-dark">
                <thead>
                    <tr>
                        <th scope="col">Título</th>
                        <th scope="col">Precio</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="subtotal">
                        <td>Subtotal</td>
                        <td>$0</td> <!-- El subtotal se actualizará dinámicamente -->
                    </tr>
                    <tr class="descuento">
                        <td>Efectivo (-10%)</td>
                        <td>-10%</td> <!-- El descuento se actualizará dinámicamente -->
                    </tr>
                    <tr class="total">
                        <td>Total</td>
                        <td>$0</td> <!-- El total se actualizará dinámicamente -->
                    </tr>
                </tbody>
            </table>
        </div>

        <div class="d-grid gap-2">
            <!-- <a><button type="button" name="" id="pagar" class="btn btn-success" href="/mis_compras">
                Ir a pagar
            </button></a> -->
            <button type="button" name="" id="pagar" class="btn btn-success">
                <a class="nav-link active" aria-current="page" href="/mis_compras">Ir a pagar</a>
            </button>
        </div>
    </div>

    <script src="{{ url_for('static', filename='javascript/script.js') }}"></script>
</body>
{% endblock %}
